<footer class="footer clearfix">
    <div class="w1200">
        <div class="logo2 fl">
            <a href="index.html"><img src="<%= require('assets/images/logo2.png') %>" alt="DOPEX"/></a>
        </div>
        <div class="share-link fl clearfix">
            <div class="column fr">
                <div class="company-info">
                    <div class="follow-us">
                        <h4>Follow Us</h4>
                        <div class="link">
                            <a href="https://www.facebook.com/DopextechOfficial/" class="fb" target="_blank"></a>
                            <a href="https://www.instagram.com/dopex.official/" class="ins" target="_blank"></a>
                            <a href="https://twitter.com/dopextech" class="tw" target="_blank"></a>
                            <a href="https://www.linkedin.com/company/dopex/" class="in" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column find-us fl">
                <h4>Find Us</h4>
                <p><strong>Add: </strong>19F, Haowei Technology Building, </p>
                <p>High-Tech Park, Nanshan District, Shenzhen, China</p>
                <p><strong>Email:</strong> business@dopex.com</p>
                <p><strong>Tel:</strong> +86-0755-23201586</p>
                <p><strong>Business Hours:</strong></p>
                <p>Monday-Friday 9 am to 6 am EST</p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="w1200">Copyright@2019 Dopex All Rights Reserved.</div>
</div>