* {
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}
*:before,
*:after {
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #494f54;
	font-size: 14px;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
td, th, caption {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
a {
	color: #494f54;
	text-decoration: none;
}
a:hover {
	color: #1d9783;
	text-decoration: none;
	outline: none;
	appearance:none;
	-webkit-tap-highlight-color: transparent; 
}
img {
	border: none;
	vertical-align: middle;
}
ol, ul, li {
	list-style: none;
}
input, textarea, select, button {
	outline:none; 
	border:none 0; 
	background:none;
	text-indent: 0;
}
input, textarea, button{
	-webkit-appearance:none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
::-moz-placeholder{ 
	color: #494f54 !important;
}
::-webkit-input-placeholder{ 
	color: #494f54 !important;
}
:-ms-input-placeholder { 
	color: #494f54 !important;
}
table {
	border-collapse: collapse;
}
html {
	overflow-y: scroll;
}
.clear{
	clear: both;
}
.clearfix:after{
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
.clearfix{
	zoom: 1;
}