<div class="overlay-full" id="warning-message">
    <div class="warning-frame">
        <div class="warning-title"><img src="<%= require('assets/images/logo.png') %>" alt="DOPEX"/></div>
        <div class="warning-content">
            <p>Confirm Your Age</p>
            <p>ARE YOU 21+ YEARS OLD OR OLDER?</p>
        </div>
        <div class="warning-footer clearfix">
            <a href="javascript:;" class="confirm btn fr">YES</a>
            <a href="javascript:;" class="cancel fl">No</a>
        </div>
        <div class="remember">
            <span>Remember me</span>
            <input type="checkbox" id="remember">
        </div>
    </div>
</div>