<div class="content">
    <div class="tech1">
        <div class="w1100 clearfix">
            <div class="tech_cont1">
                <span class="tech_title">INDUSTRY-CHANGING <br><span>HEATING</span> TECHNOLOGY</span>
                <p class="tech_txt">Devoted to heating element innovation,<br> Dopex delivers industry-changing heating <br>technology to all customers as a pursuit <br>of perfection.</p>
            </div>
            <div class="tech_cont2">
                <span class="tech_title">MAXIMUM <br>UTILIZATION <br>AND REDUCTION</span>
                <p class="tech_txt">The innovative heating material improves <br>the absorption, flavor, and cloud of oil <br>with different viscosity to its maximum. </p>
            </div>
        </div>
    </div>
    <div class="tech3">
        <div class="w1100 clearfix">
            <span class="tech_title">ERGONOMICS AND <span>AESTHETIC DESIGN</span></span>
            <p class="tech_txt">Ergonomically and aesthetically designed <br>mouthpiece from ceramic, plastic to metal<br> provides you joyful taste.</p>
        </div>
    </div>
    <div class="tech4 tc">
        <img class="tech4_img" isOpen='1' src="<%= require('assets/images/tech/tech4_img.png') %>" alt="">
    </div>
    <div class="tech5">
        <div class="w1100">
            <span class="tech_title">MEDICAL-GRADE MATERIAL</span>
            <p class="tech_txt">Medical-grade material and rigorous test standard and process guarantee high quality with no leakage and long lifetime. </p>
        </div>
    </div>
</div>