<header class="header clearfix">
    <div class="w1200 clearfix">
        <div class="logo fl">
            <a href="/index.html"><img src="<%= require('assets/images/logo.png') %>" alt="DOPEX"/></a>
        </div>
        <a href="javascript:;" class="menu-m"></a>
        <nav class="nav fr">
            
        </nav>
    </a>
</header>